body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(to bottom right,#380036, #0CBABA);  
  /* background-position: ; */
  object-fit: contain;
  background-repeat: no-repeat;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.search-bar{
  flex:1;
  margin-right: auto;
  display:flex;
  overflow: hidden;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap:10px;
  background-color: white;
}

#search-input{
  border: none;
  width:100%;
  font-size: 1.5rem;
  padding: 5px 0;
}

#search-input:focus{
  outline:none;
}

.search-icon{
  width: 32px;
  cursor: pointer;
}


.switch{
  flex:0 0 35px;
  width:30%;
  height:1%;
  background-color: #27aeef;
  display:flex;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 20px;
  align-items: center;
  position:relative;
  overflow:hidden;
}

.switch > p{
  margin:0;
  font-size: 1.5rem;
  color:white;
  font-weight:bold;
}

.toggle-circle{
  height:27.5px;
  width:27.5px;
  background-color:white;
  position:absolute;
  border-radius:15px;
  cursor:pointer;
  transition: transform 300ms;
}

.weather-component{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 32px;
}

.basic-weather-info{
  text-align:center;
  width: 80%;
  display:flex;
  flex-direction: column;
  gap: 10px;
}


.basic-weather-info > h1,
.basic-weather-info > h2,
.weather > h2{
  margin:0;
  color:white;
}

.temperature{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position:relative;
}

#temperature-value{
  color:white;
}


.weather{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#weather-description{
  text-transform: capitalize;
}

.detailed-weather-info{
  background-color: rgb(247, 247, 247);
  width: 90%;
  border-radius: 20px;
}

.top-section,
.bottom-section{
  display:flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.feels-temperature,
.low-temperature, 
.high-temperature,
.wind,
.humidity{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


.feels-temperature > p,
.low-temperature > p,
.high-temperature > p,
.wind > p,
.humidity > p{
  margin:0;
}


/* Apply style if screen is bigger than 600px */
@media only screen and (min-width: 600px){
  header{
    width: 80%;
    margin:0 auto;
    margin-top: 100px;
  }
  .weather-component{
    flex-direction: row;
    width: 80%;
    margin:0 auto;
    margin-top: 100px;
  }
}


@media only screen and (min-width: 1200px){
  .weather-component,
  header{
    width: 50%;
  }
}

@media only screen and (min-width: 1700px){
  .weather-component,
  .header{
    width: 40%;
  }
}